<section class="user_listing" id="user_<%= user.id %>">
	<div class="user_avatar" id="user_<%= user.id %>_avatar">
			<div id="avatar_container">
				<%= link_to(image_tag(user.gravatar_url), user_path(user)) %>
			</div>
	</div>

	<div class="user_details" id="user_<%= user.id %>_details">
		<header class="details_header">
			<h2><%= link_to(user.username.capitalize, user_path(user), :class => 'header_link') %></h2>
			<p class="subtext">
					Policy on: <%= user.latest_policy.issue %><br/>
					<% policy_blurb = user.latest_policy.position.capitalize %>
					<u><%= link_to(truncate(policy_blurb, :length => 50), user_path(user)) %></u><br/>
					<% explanation_blurb = user.latest_policy.explanation.capitalize %>
					<%= link_to(truncate(explanation_blurb, :length => 120), user_path(user)) %>
			</p>
		</header>
		</div>
</section>



