<h1><%= @user.username %></h1>
<%= render :partial => "user_info", :object => @user, :as => :user %>

<h2>Policies</h2>
<% @user.policies.each do |policy| %>
	<div class="user_policy">
		<h3 class="policy_position"><%= policy.position %></h3>
		<%= policy.topic %>
		<%= policy.explanation %>
	</div>
<% end %>
