<section id="concept_overview">
	<div id="logo_container">
		<%= image_tag('cartouche/cart4lt.png', :id => 'cartouche_left', :class => 'cartouche') %>
		<div id="logo_lander">
			<p id="home_logo">Civisense</p>
			<p id="home_tag">What we should do, according to you.</p>
		</div>
		<%= image_tag('cartouche/cart4rt.png', :id => 'cartouche_right', :class => 'cartouche') %>
	</div>
</section>
<section id="lander_input_area">
	<div id="form_container">
		<%= render :partial => 'lander_form' %>
	</div>
</section>

<section id="content_overview">
		<div id="overview_container">
			<div id="latest_policies">
				<h3>Latest Policies</h3>
				<%= render :partial => 'users/user_info', :collection =>  newest_policies, :as => :user  %>
			</div>
			<div id="top_policy_makers">
				<h3>Top Policy Makers</h3>
				<%= render :partial => 'home_top_users' %>
			</div>
		</div>
</section>

<!--		<h1>Leading Policy Makers</h1> <%= link_to("view all →", users_path, :id => "view_all") %>	-->
<!--		<h1>Top Issues</h1> -->
				<!-- 
				<%= image_tag("issues/libya.jpeg") %>
				<%= image_tag("issues/code_literacy.png") %>
				<%= image_tag("issues/privacy.jpg") %>
				-->
