<section id="concept_overview">
	<p id="home_logo">Civisense</p>
	<p id="home_tag">What we should do, according to you.</p>
<!--	Community Powered Policy Creation --> 
</section>
<section id="hot_issues">
	<h1>Top Concerns</h1>
	<div id="issue_container">
		<div id="hot_issue_1" class="hot_issue">
			<%= image_tag("issues/code_literacy.png") %>
		</div>
		<div id="hot_issue_2" class="hot_issue">
			<%= image_tag("issues/libya.jpeg") %>
		</div>
		<div id="hot_issue_3" class="hot_issue">
			<%= image_tag("issues/privacy.jpg") %>
		</div>
	</div>
</section>
<br/>
<section id="top_policy_makers">
	<h1>Leading Policy Makers</h1> <%= link_to("view all →", users_path, :id => "view_all") %>	
	<%= render :partial => "users/user_info", :collection => @users, :as => :user %> 
</section>
