<section id="concept_overview">
	<div id="logo_container">
		<%= image_tag('cartouche/cart4lt.png', :id => 'cartouche_left', :class => 'cartouche') %>
		<div id="logo_lander">
			<p id="home_logo">Civisense</p>
			<p id="home_tag">What we should do, according to you.</p>
		</div>
		<%= image_tag('cartouche/cart4rt.png', :id => 'cartouche_right', :class => 'cartouche') %>
	</div>
</section>
<section id="lander_input_area">
	<nav id="lander_input_nav">
		Plan | Policy | Issue 
	</nav>
	<div id="form_container">
		<%= render :partial => 'lander_form' %>
	</div>
</section>
<section id="content_overview">
	<section id="top_policy_makers">
		<div id="featured_user">
			<%= render :partial => 'users/user_info', :object =>  @users.first, :as => :user  %>
		</div>
		<%= render :partial => 'home_top_users' %>
	</section>
	<section id="hot_issues">
		<div id="issue_container">
				<%= image_tag("issues/libya.jpeg") %>
		</div>
	</section>
</section>

<!--		<h1>Leading Policy Makers</h1> <%= link_to("view all →", users_path, :id => "view_all") %>	-->
<!--		<h1>Top Issues</h1> -->
				<!-- 
				<%= image_tag("issues/code_literacy.png") %>
				<%= image_tag("issues/privacy.jpg") %>
				-->
