<% title "Goal" %>

<p>
  <strong>Objective:</strong>
  <%= @goal.objective %>
</p>
<p>
  <strong>Explanation:</strong>
  <%= @goal.explanation %>
</p>
<p>
  <strong>Policy:</strong>
  <%= @goal.policy_id %>
</p>

<p>
  <%= link_to "Edit", edit_goal_path(@goal) %> |
  <%= link_to "Destroy", @goal, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", goals_path %>
</p>
