<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Civisense" %></title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Michroma"> 
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
		<nav id="system_nav">
				<%= render :partial => 'layouts/nav_main' %>
		</nav>
		<div id="flash">
			<div id="flash_container">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>	
			</div>
		</div>
    <section id="container">
    	<%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </section>
  </body>
</html>
