<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Civisense" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
		<nav id="system_nav">
			<div id="nav_container">
				<div id="nav_left_side">
					<div id="logo">
						<%= link_to("Civisense", root_path) %>
					</div>
					<div id="new_policy">
						<dl>
							<dt><%= link_to("Make a Policy", current_user ? new_user_policy_path(current_user) : login_path) %></dt>
							<dd><%= link_to("lead the way", current_user ? new_user_policy_path(current_user) : login_path) %></dd>
						</dl>
					</div>
					<div id="highlight_issue">
						<dl>
							<dt><%= link_to("Submit an Issue", current_user ? new_user_policy_path(current_user) : login_path) %></dt>
							<dd><%= link_to("raise awareness", current_user ? new_user_policy_path(current_user) : login_path) %></dd>
						</dl>
					</div>
				</div>
				<div id="nav_right_side">
					<div id="logins">
						<%= current_user ? link_to("Log out", logout_path) : link_to("Log in", login_path) %>
					</div>
				</div>
			</div>
		</nav>
		<% if request.fullpath == '/' %>
		<section id="flash">
			<div id="flash_container">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>	
			<!--	<dl>
					<dt>Civisense is an active work in progress.</dt>
						<dd>Please send questions and feedback to ehs.stillman@gmail.com.</dd>
				</dl> -->
			</div>
		</section>
		 <% end %>
     <div id="container">

    <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
