<% title "Policy" %>

<p>
  <strong>Position:</strong>
  <%= @policy.position %>
</p>
<p>
  <strong>Explanation:</strong>
  <%= @policy.explanation %>
</p>

<p>
  <%= link_to "Edit", edit_user_policy_path(@policy) %> |
  <%= link_to "Destroy", user_policy_path, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_policies_path(@user) %>
</p>
